{{#each post in content}}
  <h4>{{#linkTo 'post' post}}{{post.title}}{{/linkTo}}</h4>
  <p class='text-right'>
    <small>
      Published: {{friendlyDate post.publishedOn}}
      <em>by</em>
      <strong>{{fullName post.author}}</strong>
    </small>
  </p>
  <p>{{post.content}}</p>
{{/each}}
